<footer class="footer bg-light position-absolute fixed-bottom d-flex align-items-center justify-content-center">
  <p class="text-center m-0">This template is Created by Sandeep with ❤️ </p>
    {{!-- <div class="container d-flex justify-content-center align-items-center">
      
    </div> --}}
  </footer>