*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* background-color: blue; */
}
nav{
    width: 100%;
}

.imgHand {
    width: 80%;

}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.form-group{
    margin: 10px 0px;
    /* background-color: aqua; */
}
.main404{
    height: 90vh;
    background: url('../images/blackSky.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.error{
    font-size: 20vw;
}

.astronot{
    width: 1px;
    position: absolute;
    top: 60%;
    right: 32%;
    animation: astro 4s infinite alternate linear forwards;
    /* animation: astroTR 4s infinite alternate linear forwards; */

}

@keyframes astro {
    0%{
        transform: scale(600);
    }
    100%{
        transform: scale(0);
    }
    
}


@media screen and (max-width : 850px) {
  @keyframes astro {
    0%{
      transform: scale(400);
  }
  100%{
      transform: scale(0);
  }
    
}
}
@media screen and (max-width:600px) {
  .astronot{
    position: absolute;
    top: 80%;
    left: 32%;

}
}

@media screen and (max-width:400px) {
  .astronot{
    position: absolute;
    top: 69%;
    left: 35%;

}
}

.navbar-nav{
    margin-left: auto;
}

footer{
    height: 50px;
}
#spinner:not([hidden]){
    text-align: center;
}

.disp{
    margin-top: 200px;
    display: flex;
    color: brown;
}



.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
  }

  .box {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 350px;
    width: 250px;
    overflow: hidden;
    border-radius: 30px;
    background: #a27cff;
    position: relative;
    /* min-width: 20rem; */
    /* min-height: 35rem; */
    box-shadow: 4px 5px 7px rgb(0, 0, 0, 0.1);
  }

  .fa-sun {
    /* opacity: 0.; */
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 40px;
    color: rgb(247, 247, 104);
    animation: sun 3000ms linear alternate infinite;
  }

  .bi {
    font-size: 50px;
    margin-bottom: 20px;
    padding-top: 40px;
    color: rgb(247, 247, 104);
    transform: scale(1.5);
    animation: rain 3s linear alternate infinite;
  }
  .bi-clouds-fill{
    color : rgb(221,231,238);
  }
  .bi-cloud-rain-fill{
    color : rgb(74,101,131)
  }
  #weatherStatus{
    animation: rain 3s linear alternate infinite;
  }

  @keyframes rain {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.5);
    }

  }

  .fa-street-view {
    color: #d23131;
    animation: street 3000ms linear alternate infinite;
  }

  @keyframes street {
    from {
      transform: translateX(0px);
    }

    to {
      transform: translateX(10px);
    }

  }

  .dataInfo {
    margin-top: 35px;
    z-index: 5;

  }

  .temp {
    margin-top: 20px;
  }

  #city,
  #timeData,
  .temp,
  .minMax {
    text-align: center;
  }

  #city,
  .temp {
    font-size: 35px;
  }

  #timeData,
  .minMax {
    font-size: 15px;
  }


  .wave {
    opacity: 0.3;
    width: 50rem;
    height: 50rem;
    border-radius: 45%;
    background: #fff;
    animation: dift linear 5000ms reverse infinite;
    transform-origin: 50% 48%;
    margin-left: -25rem;
    margin-top: -25rem;
    position: absolute;
    top: 170%;
    left: 50%;
    z-index: 1;
  }

  .Two {
    animation: dift linear 7000ms infinite;
    opacity: 0.2;
    z-index: 2 !Important;
  }

  .Three {
    animation: dift linear 9000ms reverse infinite;
    opacity: 0.1;
    z-index: 4 !Important;
  }

  .four {
    animation: dift linear 3000ms reverse infinite;
    opacity: 0.1;
    z-index: 4 !Important;
  }


  @keyframes dift {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }

  }